
a {color: #fff;}

a:visited {color: #fff;}

a:hover {
	text-decoration: bold; 
	color:#666;
}

a:active {text-decoration: none;}

h1 {font-family: 'VT323', monospace;}

td {padding: 5px 5px 5px 5px;}

body{
	margin: 25px 60px 50px 60px; 
	background-color:#16A785; 
	text-align: center; 
	font-weight: bold; 
	color:#ffffff;
}


#headerfooter {
	text-decoration:none;
	font-weight: bold;
	font-family: 'VT323', monospace;
	font-size: 150%;
}