	<!-- Commenting this out because all menu info is going to be redivided into divs and I want to copy pase. Cuz i layzahy.
		<center><table cellpadding="10">
			<tr>
				<td align="Center"><h4>Burger and Fries</h4>
				An American Classic!<br>
				Your choice - with or without cheese,<br
				pickle, onion, tomato, and lettuce.<br>
				Served with our famous thick cut<br>
				french fries.<br>
				$7.95</td>
				
				<td align="Center" valign="top"><h4>Hot Dog and Chips</h4>
				A Summer Classic!<br>
				Your choice - white or wheat bun, <br>
				relish, mustard, and ketchup.<br>
				Served with our house-made chips.<br>
				$7.95</td>

				<td align="Center" valign="top"><h4>Italian Sausage and Peppers</h4>
				An All-Time Favorite!<br>
				Your choice - mild or spicy cole slaw.<br>
				Served with garlic mashers.<br>
				$10.95</td>
				
			</tr>

			<tr>
				<td align="Center" valign="top"><h4>Tenderloin Sandwich and Chips</h4>
				Really Hits the Spot!<br>
				Plain or Sesame Seed Bun<br
				pickle, onion, tomato, and lettuce.<br>
				Served with our house-made chips.<br>
				$7.95</td>
				
				<td align="Center" valign="top"><h4>House Salad</h4>
				On the Lighter Side<br>
				Your choice - with or without cheese<br>
				Iceberg lettuce, tomatoes, peppers<br>
				Thousand Island or Ranch Dressing<br>
				Served with a dinner roll.<br>
				$7.95</td>

				<td align="Center" valign="top"><h4>Brisket Sandwich and Fries</h4>
				A Taste of Texas!<br>
				Smoked Brisket on thick-cut<br>
				Texas toast.<br>
				Cole Slaw<br>
				Served with our famous thick-cut<br>
				french fries.<br>
				$7.95</td>
				
		</center></table>
		<table>
			<tr>		
				<td align="Center" valign="top" rowspan="2"><h4>Beverages</h4>
				Root Beer		$3.00
				<br>Bottled Water	$1.25
				<br>Lemonade		$1.00
				<br>Iced Tea		$1.25</td>
			</tr>
		</table>
	--!>